.container {
  margin: 1em auto;
  height: 90vh;
  max-width: 120vh;
  display: flex;
}
.container section {
  width: 50%;
  height: 100%;
}
.container section:nth-child(odd) {
  border-radius: 50px 0 0 50px;
}
.container section:nth-child(even) {
  border-radius: 0 50px 50px 0;
}
.cover {
  background-color: #1b2731;
  color: #7e878e;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.title {
  text-transform: uppercase;
  text-align: center;
  font-size: 60px;
  font-weight: 800;
  letter-spacing: 8px;
  background-color: #1b2731;
  color: transparent;
  text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}
.title sup {
  vertical-align: top;
  font-size: 20px;
}
.description {
  padding: 1.5rem;
  background-color: #c39c69;
  color: #1f262b;
}
.description hr {
  border: 1px solid #1f262b;
}
.login_form {
  display: flex;
  align-items: flex-end;
  border: 2px solid #1f262b;
}
.login_form label {
  vertical-align: top;
  font-size: 10px;
}
.login_form input {
  width: 100%;
  font-size: 20px;
  border: none;
  border-bottom: 2px dashed #1f262b;
  background: transparent;
}
.login_form input:focus,
.login_form input:active {
  outline: none;
}
.form_control {
  padding: 6px;
}
.footer {
  color: grey;
  text-align: center;
}